<div (click)="onDialogClosed()" class="backdrop"></div>
<dialog open>
  <h2>Add Task</h2>
  <form (ngSubmit)="onSubmitTask()">
    <p>
      <label for="title">Title</label>
      <input [(ngModel)]="formModel.title" id="title" name="title" type="text"/>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <input [(ngModel)]="formModel.dueDate" id="due-date" name="due-date" type="date"/>
    </p>

    <p>
      <label for="description">Description</label>
      <textarea [(ngModel)]="formModel.description" id="description" name="description" rows="5"></textarea>
    </p>

    <p>
      <label for="notes">Notes</label>
      <textarea [(ngModel)]="formModel.notes" id="notes" name="notes" rows="2"></textarea>
    </p>

    <p>
      <label for="related-people">Related People</label>
      <ng-select
        [(ngModel)]="formModel.relatedPeople"
        [closeOnSelect]="false"
        [hideSelected]="true"
        [items]="users"
        [multiple]="true"
        bindLabel="name"
        bindValue="name"
        id="related-people"
        name="relatedPeople"
        placeholder="Select User">
      </ng-select>
    </p>

    <p>
      <label for="related-tasks">Related Tasks</label>
      <ng-select
        [(ngModel)]="formModel.relatedTasks"
        [closeOnSelect]="false"
        [hideSelected]="true"
        [items]="tasks"
        [multiple]="true"
        bindLabel="title"
        bindValue="title"
        id="related-tasks"
        name="relatedTasks"
        placeholder="Select Task">
      </ng-select>
    </p>

    <p class="actions">
      <button (click)="onDialogClosed()" type="button">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>
