<header-component />

<main>
  <ul id="users">
    <li>
      <app-user [name]="DUMMY_USERS[0].name" [avatar]="DUMMY_USERS[0].avatar"/>
    </li>
    <li>
      <app-user [name]="DUMMY_USERS[1].name" [avatar]="DUMMY_USERS[1].avatar"/>
    </li>
    <li>
      <app-user [name]="DUMMY_USERS[2].name" [avatar]="DUMMY_USERS[2].avatar"/>
    </li>
    <li>
      <app-user [name]="DUMMY_USERS[3].name" [avatar]="DUMMY_USERS[3].avatar"/>
    </li>
    <li>
      <app-user [name]="DUMMY_USERS[4].name" [avatar]="DUMMY_USERS[4].avatar"/>
    </li>
    <li>
      <app-user [name]="DUMMY_USERS[5].name" [avatar]="DUMMY_USERS[5].avatar"/>
    </li>
  </ul>
</main>

<router-outlet />
